# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET Build Multisserviços

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup .NET 6
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x

      - name: Restore dependências de todos os projetos
        run: |
          dotnet restore ./ApiGateway
          dotnet restore ./PrimeiroServico
          dotnet restore ./SegundoServico

      - name: Build de todos os projetos
        run: |
          dotnet build ./ApiGateway
          dotnet build ./PrimeiroServico
          dotnet build ./SegundoServico
      
    # - name: Test
      # run: dotnet test --no-build --verbosity normal
